* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(210, 46%, 95%);
    font-size: 62.5%;
    color: white;
    font-weight: 400;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: grid;
    place-content: center;
    margin: 50px 30px;
    max-width: 67rem;
    gap: 2rem;
}
.sm-box {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
section img {
    width: 2.5rem;
    border-radius: 50%;
}
h1 {
    font-size: 1rem;
}
strong {
    font-size: 1.3rem;
}
span, p {
    font-size: 0.9rem;
    color: rgba(181, 178, 178, 0.7);
    line-height: 1.2rem;
}
@media screen and (min-width: 800px) {
    main {
        display: grid;
        grid-template-areas: 
            'daniel daniel daniel jonathan kira'
            'jeanette patrick patrick patrick kira';
        margin: 0;
    }
    .section-one {
        grid-area: daniel;
    }
    .section-two {
        grid-area: jonathan;
    }
    .section-three {
        grid-area: jeanette;
    }
    .section-four {
        grid-area: patrick;
    }
    .section-five {
        grid-area: kira;
    }
    .sm-box {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: 25px;
    }
    h1 {
        font-size: 1rem;
    }
    strong {
        font-size: 1.2rem;
    }
    span, p {
        font-size: 0.8rem;
        color: rgba(181, 178, 178, 0.7);
        line-height: 1.2rem;
    }
}
/*** SECTION BOX ***/
.section-one {
    background: url(../images/bg-pattern-quotation.svg) no-repeat hsl(263, 55%, 52%);
    background-position: top right 50px;
    position: relative;
    border-radius: 10px;
}
section .quotation {
    position: absolute;
    left: 60%;
    top: 0;
}
.section-two {
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
}
.section-three {
    background-color: white;
    color: black;
    border-radius: 10px;
}
.section-four {
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
}
.section-five {
    background-color: white;
    color: black;
    border-radius: 10px;
}
/*** SECTION BOX -END- ***/